@import "../../SCSS/colors";

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 0 20%;
    @media (max-width: 1300px) {
      display: flex;
      flex-direction: column;
      padding-top: 200px;
      margin-bottom: 3rem;
      justify-content: unset;
    }


  .home-content {
      position: relative;
      max-width: 31.25rem;
      margin-bottom: 3rem;
      h1 {
        line-height: 1.2;
        font-size: 3.5rem;
        font-weight: 700;
        color: $color-white;
      }
      h3 {
        font-size: 2rem;
        font-weight: 700;
        color: $color-white;
      }
      p {
        margin: 1.25rem 0 2.5rem;
        font-size: 1rem;
        color: $color-white;
      }
      .btnHire {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 11.25rem;
        height: 3rem;
        font-size: 1.2rem;
        border-radius: 2.5rem;
        color: $color-white;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 1px;
        z-index: 1;
      }
      .btnHire::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        inset: 0;
        z-index: -1;
        background: linear-gradient(45deg, #f06,#3cf,#f06);
        border-radius: 2.5rem;
        background-size: 200%;
        background-position: 0 0;
        filter: blur(5px);
        transition: .6s ease;
      }
      .btnHire:hover::before {
        background-position: 100% 0;
      }
      .btnHire::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        inset: 0;
        z-index: -1;
        background: linear-gradient(45deg, #f06,#3cf,#f06);
        border-radius: 2.5rem;
        background-size: 200%;
        background-position: 0 0;
        transition: .6s, ease;
      }
      .btnHire:hover::after {
         background-position: 100%, 0;
      }
    .home-sci {
      position: absolute;
      top: 25%;
      left: -4rem;
      display: flex;
      flex-direction: column;
       @media (max-width: 320px) {
         left: -3rem;

       }
      a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 1.25rem;
        width: 2.5rem;
        height: 2.5rem;
        background: linear-gradient(45deg, #f06,#3cf);
        border-radius: 50%;
        color: $color-white;
        margin-bottom: 20px ;
        z-index: 1;
      }

      a::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: linear-gradient(45deg, #f06,#3cf);
        transform: scale(.88);
        z-index: -1;
        transition: .5s ease;
      }
      a:hover::before {
        filter: blur(5px);
      }

      a::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: #0c1022;
        transform: scale(.88);
        z-index: -1;
        transition: .5s ease;
      }
      a:hover::after {
        transform: scale(0);
      }
    }
    }
  .home-img {
    width: 25.6rem;
    height: 25.6rem;
    background: red;
     @media (max-width: 430px) {
       width: 100%;
     }
     .glowing-circle {
       width: 100%;
       height: 100%;
       background: yellow;
       border-radius: 50%;
     }
  }
}