@import "../SCSS/colors";
header {
  position: fixed;
  background: #0c1022;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 20px 20%;
  width: 100%;
  z-index: 999;
       .logo {
         font-size: 25px;
         color: $color-white;
         text-decoration: none;
       }
       .logo:hover {
          background: linear-gradient(45deg ,#f06,#3cf);
         -webkit-text-fill-color: transparent;
         -webkit-background-clip: text;
       }
      .navigation {
         display: flex;
         align-items: center;
         gap: 20px;

        .icon-container {
          display: none;
          @media (max-width: 624px) {
            display: flex;
          }
          .bars {
            display: flex;
            font-size: 20px;
            color: $color-white;
          }
          @media (max-width: 624px) {
            display: flex;
          }
        }
          .container-link {
            display: flex;
            gap: 20px;
            @media (max-width: 624px) {
              position: absolute;
              background: #0c1022;
              top: 90px;
              left:20px;
              display: none;
              flex-direction: column;
              align-items: center;
              width: 100%;
            }
            .link {
              color: $color-white;
              text-decoration: none;
              font-size: 20px;
              margin-bottom: 20px;

            }
            .link:hover {
              background: linear-gradient(45deg ,#f06,#3cf);
              -webkit-text-fill-color: transparent;
              -webkit-background-clip: text;
            }

          }
        .link:hover {
          background: linear-gradient(45deg ,#f06,#3cf);
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
        }
         .show {
           display: flex;
         }
         .hide {
           display: none;
         }
      }
}